<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <h1>Каталог товаров</h1>
    <table>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Действие</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td><a href="{{ url_for('increase_quantity', product_id=product.id) }}">Увеличить на 10</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>